.menu__link {
    color: #808080;
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;
}

.menu__link.activo {
    color: #333333;
    font-weight: bold;
}

.menu__link:hover {
    text-decoration: underline;
}
